#Content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 50px;
}

#CZ-img{
    max-height: 400px;
    max-width: 400px;
    border-radius: 20px;
    margin: 30px 25px;
    box-shadow: 0px 0px 10px white;
  
  }

#details{
    padding: 50px 0px 0px;
}
#event-links{
    color: #7777dd;
}

@media screen and (max-width:1050px) {
    #Content{
        display: block;
        padding: 10px;
    }

    #CZ-img{
        height: 300px;
        width:300px;
    }

    #details{
        padding: 10px ;
    }

}